<div class="input-label {{class}}">
  <label for="{{name}}" class="label">{{placeholder}}</label>
  <input type="{{type}}" class="input" id="{{name}}" name="{{name}}"/>
  {{#if error}}
    <span>{{ error }}</span>
  {{/if}}
</div>
